.to-do-list {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.to-do-list h1 {
  text-align: center;
}

.to-do-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.to-do-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.to-do-list li.completada {
  text-decoration: line-through;
  color: #aaa;
}

.to-do-list input[type="checkbox"] {
  margin-right: 10px;
}

.to-do-list span {
  font-size: 18px;
}

.to-do-list form {
  margin-top: 20px;
}

.to-do-list label {
  display: block;
  margin-bottom: 10px;
}

.to-do-list input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.to-do-list button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.to-do-list button[type="submit"]:hover {
  background-color: #3e8e41;
}

.to-do-list .eliminar {
  margin-left: 5px;
  background-color: #ff0000; /* Color rojo para el botón de eliminar */
  border: none;
  padding: 5px;
  padding-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.to-do-list .eliminar:hover {
  background-color: #cc0000; /* Color rojo oscuro al pasar el mouse */
}

.to-do-list .eliminar svg {
  font-size: 18px; /* Tamaño del icono de basura */
  color: #fff; /* Color blanco para el icono de basura */
}

.to-do-list .completar {
  margin-left: 5px;
  background-color: #2ecc71; /* Color verde para el botón de completar */
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.to-do-list .completar:hover {
  background-color: #1e8651; /* Color verde oscuro al pasar el mouse */
}

.to-do-list .completar svg {
  font-size: 18px; /* Tamaño del icono de completar */
  color: #fff; /* Color blanco para el icono de completar */
}